.button {
    display: inline-block;
    border: 2px solid #8898AC;
    background: transparent;
    border-radius: 0.75rem;
    font-size: 16px;
    color: #8898AC;
    width: 150px;
    padding: 15px 0;
    text-align: center;
    margin: 0 10px 10px;
}