.button {
    display: inline-block;
    border: 2px solid #8898AC;
    background: transparent;
    border-radius: 0.75rem;
    font-size: 18px;
    color: #8898AC;
    padding: 15px 30px;
    width: fit-content;
}