:root {
  --baseDarkBlue: #272A33;
  --baseBlueGrey: #3F4552;
  --fontGrey: #8898AC;

  --baseFont: 'Source Code Pro', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  display: flex;
  font-family: var(--baseFont) !important;
  overflow: hidden;
  background: #666666;
}

#root {
  transition: 0.2s;
  border-radius: 0.75rem;
  background: var(--baseDarkBlue);
  display: flex;
  flex-direction: column;
  height: 85%;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  color: var(--fontGrey);
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

.mainScrollable {
  overflow-y: scroll !important;
}

.mainScrollable::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.mainScrollable::-webkit-scrollbar-track {
  background: #7c7c7c;
}

/* Handle */
.mainScrollable::-webkit-scrollbar-thumb {
  transition: 0.2s;
  background: #3F4552;
}

/* Handle on hover */
.mainScrollable::-webkit-scrollbar-thumb:hover {
  background: #3F4552;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}